{% macro tr(prop,default = "<strong> Undefined property </strong>") -%}
{% if prop is mapping -%}
  {% if prop[lang]  is defined -%}
    {{ prop[lang] }}
  {%- else -%}
    {{ prop["def"] }}
  {%- endif %}
{%- else -%}
  {% if prop is defined -%}
    {{prop}}
  {%- else -%}
    {{default}}
  {%- endif %}
{%- endif %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="">
  
  <link rel="stylesheet" type="text/css" href= "{{tr(styles.cssfile,"../css/cover_letter.css")}}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family={{tr(styles.gFontFamily)}}:ital,wght@0,300;0,500;0,800;1,200;1,500&display=swap" rel="stylesheet">   
  
  <body>
    <div class="canvas-container">
        <div class="addresses">
            <div class="senderAddress">
                <p> <strong>{{tr(data.sender.name)}} </strong> 
                <br> {{tr(data.sender.streetNameAndNumber)}} 
                <br> {{tr(data.sender.postalCode)}}, {{tr(data.sender.city)}}
                {% if data.sender.country is defined -%}
                  <br> {{tr(data.sender.country)}}
                {%- endif %}      
                </p>
            </div>
        
            <div class="receiverAddress">
                <p> <strong>{{tr(data.receiver.name)}} </strong> <br> {{tr(data.receiver.fullPosition)}} <br> {{tr(data.receiver.address1)}} <br> {{tr(data.receiver.address2)}}</p>
            </div>
        </div>
        <div class="date">
            <p> {{tr(data.sender.city)}}, {{tr(data.date)}} </p>
        </div>
        
        <div class="salutation">
          <p>
          {% if data.receiver.call is defined -%}
            {{tr(data.receiver.call)}}
          {%- endif %}
          {% if data.receiver.genderedCall is defined -%}
            {{tr(data.receiver.genderedCall)}}
          {%- endif %}
          {% if data.receiver.position is defined -%}
            {{tr(data.receiver.position)}}
          {%- endif %}
          ,</p>
        </div>

        <div class="text">
          {%- for l in data.text %}
            {{ tr(l) -}}
          {% endfor %}
        </div>
        <div class="signature">
          <div class="signature_wrapper">
          {% if data.sender.signaturePhoto is defined -%}
            <div class="signature-photo">
              <img class="signature-photo_" src="{{tr(data.sender.signaturePhoto)}}">
            </div>
          {%- endif %}
            <div>
              {{tr(data.sender.name)}}
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
