{% include "css/tokens.css.j2" %}
{% include "css/primitives.css" %}
{% include "css/layout.css" %}
{% include "css/preambule.css" %}
{% include "css/details.css" %}
{% include "css/photo.css" %}
{% include "css/icon.css" %}
{% include "css/card.css" %}
{% include "css/pillbox.css" %}
{% include "css/chapter.css" %}
{% include "css/qr-code.css" %}
{% include "css/link.css" %}
{% include "css/utilities.css" %}
