<!-- Competences -->

<!-- set namespace -->
{% set knowledge = chapter %}

{% if knowledge.lines is defined %}
    {%- for know in knowledge.lines %}
    <div class = date> {{ tr(know.domain) }}: </div>
    <div class = "rhs-element taglist">
    <ul>
        {%- for skill in know.list %}
        <li> {{ skill }}</li>
        {%- endfor -%}
    </ul>
    </div>
    {% endfor -%}
{% endif %}