{% set details = chapter %}
<div class="preambule">
<div class="titleName">
    <h1> {{tr(details.firstName)}} {{tr(details.surname)}} </h1>
    <h2> {{tr(details.title)}} </h2>
</div>
<div class="personal-info">
    <div class="details-list">
    {% if details.age is defined %} <div class="age"> <span id="ageLogo" class="logo">  </span> <p> {{tr(details.age)}}</p> </div>                                                  {% endif -%}
    {% if details.address is defined %} <div class="address"> <span id="addressLogo" class="logo">  </span> <p>  {{tr(details.address)}} </p></div>                                 {% endif -%}
    {% if details.phoneNumber is defined %} <div class="phone-number"> <span id="phoneLogo" class="logo">  </span> <p>  {{tr(details.phoneNumber)}}</p> </div>                      {% endif -%}
    {% if details.email is defined %} <div class="email"> <span id="emailLogo" class="logo">  </span> <p>  {{tr(details.email)}}</p> </div>                                         {% endif -%}
    {% if details.driversLicence is defined %} <div class="drivers-licence"> <span id="driversLicenseLogo" class="logo">  </span> <p>  {{tr(details.driversLicence)}}</p> </div>    {% endif -%}
    {% if details.personalRepo is defined %} <div class="personal-repo"> <span id="codingLogo" class="logo">  </span> <p> <a href="{{tr(details.personalRepo.link)}}">  {{tr(details.personalRepo.host)}}</a> </p> </div>                  {% endif -%}
    </div>
    
    {% if details.photo is defined -%}
        <div class="photo">
        <img class="profile-photo" src="{{tr(details.photo)}}">
        </div>
    {%- endif %}
</div>
</div>