{% macro tr(prop,default = "Undefined property") -%}
  {% if prop is defined -%}
    {{prop}}
  {%- else -%}
    {{default}}
  {%- endif %}
{%- endmacro %}

*{
  {# border : 1px solid red !important; #}
  box-sizing : border-box;
}

:root{
  --pageHeight: {{tr(styles.pageHeightInMM,"297")}}mm;
  --pageWidth: {{tr(styles.pageWidthInMM,"210")}}mm;
}

html{
  font-size: {{tr(styles.fontSize,"10.9px")}} ;
}

.canvas-container{
  font-size: {{tr(styles.fontSize,"10.9px")}} ;
  font-family: 'Montserrat', 'Fira Sans Extra Condensed' , "Futura","EB Garamond","Clarendon","Bodoni Moda","Libre Bodoni","Avenir","DIN","Akzidenz Grotesk","Frutiger","Univers","Sabon","Mrs Eaves","Meta","News Cycle",'Roboto Condensed', "Helvetica",sans-serif;
}

.page{
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  width: var(--pageWidth);
  height: var(--pageHeight);
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  margin-block: auto; /* for centering, feel free to use flexbox or some other method*/
  margin-bottom: 10mm;
  border: 1px solid rgba(0,0,0,0.2);
}

h1{
  font-size: 2.9rem;
  margin-bottom: 0.2rem;
}

p{
  font-weight: 300; /* Montserrat */
  line-height: 1.3; /* Montserrat */
}

.stronger{
  font-weight:600;
}

.svg-image{
  width: 15px;
}
.canvas-container {
  width: var(--pageWidth);
  margin: 0 auto;
}

.grid-element{
  display:grid;
  /* We'll try to keep for the time being a 1:6 ratio*/
  grid-template-columns: calc(var(--pageWidth) * 0.14) calc(var(--pageWidth) * 0.86);
}

.subgrid{
  display: grid;
  grid-template-columns: calc(var(--pageWidth) * 0.14) calc(var(--pageWidth) * 0.36) calc(var(--pageWidth) * 0.14) calc(var(--pageWidth) * 0.36);  
}

.titleName{
  display: flex;
  flex-direction:column;
  margin-left:3rem;
  margin-block:auto;
  width: min-content;
}

.titleName h1{
  padding-inline: 1.5rem;
  white-space: nowrap;
  text-align: center;
}

.titleName h2{
  margin-block: 0.1rem;
  text-align: center;
}

.pitch{
  background-color: rgb(220, 220, 220);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block: 0.3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px black;
  font-style: italic;
  font-weight: 300;
  align-self: anchor-center;
  text-wrap: balance;
}

.details{
    display:grid;
    grid-template-columns: 5mm auto;
    /* border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin-right:5mm; */
    padding-inline: 5mm;
    /* transform: rotate(10deg); */
}

.details-list{
  padding-inline: 5px;
  margin-block: auto;
  padding-right: 3mm;
  border-left: 1px solid rgba(0,0,0,0.3);
}

.details-list>div{
  margin-bottom: {{tr(styles.preambule_detailsBottomMargin,"0.5rem")}};
  display: flex;
  align-items: center;

}
.details-list>div p{
  margin:0;
  margin-inline-start: 1rem;
  white-space: nowrap;
}

.logo{
  background-size: cover;
  --size:1.05rem;
  width:var(--size);
  height:var(--size);
  margin-inline: 0.3rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  opacity:0.99; /* Chromium bug showing blurred svgs */
  filter: brightness(0)
}

#ageLogo{
  background-image: url("../img/baby.svg");
} 

#addressLogo{
  background-image: url("../img/map-pin.svg");
} 

#phoneLogo{
  background-image: url("../img/phone.svg");
} 

#driversLicenseLogo{
  background-image: url("../img/car.svg");
} 

#emailLogo{
  background-image: url("../img/at-sign.svg");
} 

#codingLogo{
  background-image: url("../img/message-square-code.svg");
} 

#htmlLogo{
  background-image: url("../img/HTML5.svg");
  filter:grayscale(1);
} 

#cssLogo{
  background-image: url("../img/CSS3.svg");
  filter:grayscale(1);
} 

#jinjaLogo{
  background-image: url("../img/jinja.svg");
  filter:grayscale(1);
} 

#pythonLogo{
  background-image: url("../img/Python.svg");
  filter:grayscale(1);
} 

#linkedinLogo{
  background-image: url("../img/linkedin.svg");
  filter:grayscale(1);
} 

#fact_check{
  background-image: url("../img/fact_check.svg");
}

#grid_view{
  background-image: url("../img/grid_view.svg");
}

#group{
  background-image: url("../img/group.svg");
}

#menu_book{
  background-image: url("../img/menu_book.svg");
}

#person_check{
  background-image: url("../img/person_check.svg");
}

#target{
  background-image: url("../img/target.svg");
}

#computer{
  background-image: url("../img/computer.svg");
}

#corporate_fare{
  background-image: url("../img/corporate_fare.svg");
}

#delivery_truck_speed{
  background-image: url("../img/delivery_truck_speed.svg");
}

#euro{
  background-image: url("../img/euro.svg");
}

#handshake{
  background-image: url("../img/handshake.svg");
}


.preambule{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.personal-info{
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.personal-info .details{
  margin-top: auto;
  max-width:5cm;
  margin-right: 2mm;
}

.personal-info .details p{
  margin-block: 1mm;
  text-align: left;
}

.personal-info .photo{
  margin-top: auto;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.4);
}


.profile-photo{
  max-width:3.5cm;
  width:100%;
  float: inline-end;
}

h2{
  font-size : 1.4rem;
}

h3{
  font-size : 1.1rem;
}

.cv-chapter{
  padding-top:1px;
  /*outline: 1px solid rgba(255,0,0,0.25);*/
}

.cv-chapter:first-child > h2 {
  margin-top: 0mm;
}

.cv-chapter > h2 {
  padding-top : 0mm;
  padding-bottom : 0mm;
  margin-top: 0mm;
  margin-bottom: 1mm;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.line-element{
  display: flex;
  flex-direction: row;
}

.rhs-element h3{
  margin-top:0;
  margin-bottom:0.0mm;
}

.rhs-element p{
  margin-top :0;
  margin-bottom: 2mm;
}

.rhs-element h3 + p{
  margin-top :0;
  margin-bottom: 1mm;
}

.grid-element.knowhow-container{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.grid-element.soft-skills-container{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}

.grid-element:has(h3) .date{
  margin-top: 0.4mm;
}

.grid-element > *:only-child {
  grid-column: 1 / -1;
}

.taglist{
  margin-bottom: 1mm;
}

.taglist ul{
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.taglist li{
  display:flex;
  align-items: anchor-center;
  padding-inline: 1mm;
  padding-block: 0.3mm;
  background-color: lightgray;
  border-radius: 7px;
  border: 0.4mm solid black;
  margin-right: 1mm;
}

.date:has(+ .taglist){
  padding-top: 0.7mm;
}

em{
  font-weight: 600;
}

@media print {
  @page { 
    margin : 0.0cm
    size: a4 portrait;
  }

  html {
    width: 210mm;
    height: 297mm;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

  .page{
    box-shadow: none;
    border:none;
  }

  .canvas-container {
    width: 100%;
    box-shadow: none;
  }
}

{%- for cssTemplate in cssTemplates %}
  {% include cssTemplate %}
{% endfor -%}