{% include "j2/css/tokens.css.j2" %}
{% include "j2/css/primitives.css" %}
{% include "j2/css/layout.css" %}
{% include "j2/css/preambule.css" %}
{% include "j2/css/details.css" %}
{% include "j2/css/photo.css" %}
{% include "j2/css/icon.css" %}
{% include "j2/css/card.css" %}
{% include "j2/css/pillbox.css" %}
{% include "j2/css/chapter.css" %}
{% include "j2/css/qr-code.css" %}
{% include "j2/css/link.css" %}
{% include "j2/css/utilities.css" %}
