.taglist {
  font-size: 0.9rem;
  margin-bottom: 1mm;
}

.taglist ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.taglist li {
  display: flex;
  align-items: center;
  padding-inline: 0.6rem;
  padding-block: 0.25rem;
  background-color: var(--textBackgroundColor);
  border-radius: 9999px;
  border: 1px solid var(--colorBorderDetails);
  margin-right: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
}

.grid-element.knowhow-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.grid-element.soft-skills-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.grid-element.soft-skills-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
