.preambule {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.titleName {
  display: flex;
  flex-direction: column;
  margin-block: auto;
  width: min-content;
  flex-grow: 1;
}

.titleName h1 {
  padding-inline: 1.5rem;
  white-space: nowrap;
  text-align: center;
}

.titleName h2 {
  margin-block: 0.1rem;
  text-align: center;
}

.pitch {
  background-color: var(--textBackgroundColor);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block: 0.3rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  font-style: italic;
  font-weight: 300;
  align-self: anchor-center;
  text-wrap: balance;
}

.personal-info {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.personal-info .details {
  margin-top: auto;
  max-width: 5cm;
  margin-right: 2mm;
}

.personal-info .details p {
  margin-block: 1mm;
  text-align: left;
}

.personal-info .photo {
  margin-top: auto;
  box-shadow: 0 3px 8px -3px var(--colorShadowPhoto);
}